.Nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    background-color: #4f2d7e;
    -webkit-box-shadow: 2px 3px 2px rgba(1, 2, 2, 0.1);
    -moz-box-shadow: 2px 3px 2px rgba(1, 2, 2, 0.1);
    box-shadow: 2px 3px 2px rgba(1, 2, 2, 0.1);
  }

  .Nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Nav__bottom {
    display: flex;
    color: #fff;
    background-color: #333;
    margin-top: -9.5px;
    padding: 7px;
    -webkit-box-shadow: 2px 3px 2px rgba(1, 2, 2, 0.1);
    -moz-box-shadow: 2px 3px 2px rgba(1, 2, 2, 0.1);
    box-shadow: 2px 3px 2px rgba(1, 2, 2, 0.1);
  }

  .Nav__logo {
    margin: 0px 14px;
  }

  .Nav__logo h1 {
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
  }

  .Nav__logo h1:hover {
    color: #e3e3e3;
  }

  /* .Nav__links__link, .Nav__bottom__links__link {
    font-size: 17px;
    font-weight: 700;
    margin: 7px 14px;
    border-radius: 1px;
    color: #fff;
  } */

  .Nav__bottom__links__link {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    border-radius: 1px;
    margin-right: 23px;
  }

  .Nav__bottom__links__link:hover {
    background-color: #4f2d7e;
  }

  .Nav__links {
    display: flex;
  }

  .Nav__top__links {
    display: flex;
    font-weight: 900;
  }

  .Nav__top__links__link:hover {
    background-color: #4f2d7e;
  }

  .Nav__top__links__link {
    display: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    border-radius: 1px;
    margin-right: 23px;
  }

  .Nav__bottom__links__link {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    border-radius: 1px;
    margin-right: 23px;
  }

  @media (min-width: 600px) {
    .Nav__top__links__link {
      display: flex;
    }
  }

.Nav__top__links__link--control {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 1px;
  margin-right: 23px;
  display: none;
}

.Nav__top__links__link--control:hover {
  background-color: #4f1d7e;
}

@media (min-width: 600px) {
  .Nav__top__links__link--control {
    display: flex;
  }
}

@media (min-width: 445px) {
  /* .Nav__bottom {
    display: none;
  } */
}

@media (max-width: 445px) {
  /* .Nav__top__links__link {
    display: none;
  } */
}